<!doctype html>
<html>

<head>
 <title>The Busy Birder Site</title>
  <link href="/css/base.css" rel="stylesheet" type="text/css">
</head>

<body>
  <h1>The Busy Birder</h1>
    {{{ body }}}
</body>

</html>
