<h3>Settings</h3>

Only show birds that have been seen this <font color="yellow"> many times


<form method="POST" action="">
<input type="text" name="minNumber" value={{value}}>
<br>
<input type="submit" value="Set It!">
</form>

<br>
<a href="{{url1}}">Bird List</a>
<a href="{{url2}}">Home</a>
