body {
	text-align: center;
  background-color: #003333;
  font-size: 1.5em;
  text-align: center;
	 color: white;
}


img {
   padding:1px;
   border:1px solid #021a40;
   background-color:#000033;
}
